<center><h1>Monitorias - Econometria I</h1></center>

In [17]:
import sklearn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sc

pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.5f' % x)
plt.style.use(['science', 'notebook', 'grid'])

***

## 04/04/2022 - Estatísticas Descritivas

In [5]:
%%timeit
df = pd.read_csv('dados/inep/municipio.csv', low_memory=True)

21.5 s ± 2.89 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
display(df.head())
print(df.shape)

,ano,id_municipio,rede,id_escola,localizacao,atu_ei,atu_ei_creche,atu_ei_pre_escola,atu_ef,atu_ef_anos_iniciais,atu_ef_anos_finais,atu_ef_1_ano,atu_ef_2_ano,atu_ef_3_ano,atu_ef_4_ano,atu_ef_5_ano,atu_ef_6_ano,atu_ef_7_ano,atu_ef_8_ano,atu_ef_9_ano,atu_ef_turmas_unif_multi_fluxo,atu_em,atu_em_1_ano,atu_em_2_ano,atu_em_3_ano,atu_em_4_ano,atu_em_nao_seriado,had_ei,had_ei_creche,had_ei_pre_escola,had_ef,had_ef_anos_iniciais,had_ef_anos_finais,had_ef_1_ano,had_ef_2_ano,had_ef_3_ano,had_ef_4_ano,had_ef_5_ano,had_ef_6_ano,had_ef_7_ano,had_ef_8_ano,had_ef_9_ano,had_em,had_em_1_ano,had_em_2_ano,had_em_3_ano,had_em_4_ano,had_em_nao_seriado,tdi_ef,tdi_ef_anos_iniciais,...,afd_ef_anos_iniciais_grupo_2,afd_ef_anos_iniciais_grupo_3,afd_ef_anos_iniciais_grupo_4,afd_ef_anos_iniciais_grupo_5,afd_ef_anos_finais_grupo_1,afd_ef_anos_finais_grupo_2,afd_ef_anos_finais_grupo_3,afd_ef_anos_finais_grupo_4,afd_ef_anos_finais_grupo_5,afd_em_grupo_1,afd_em_grupo_2,afd_em_grupo_3,afd_em_grupo_4,afd_em_grupo_5,afd_eja_fundamental_grupo_1,afd_eja_fundamental_grupo_2,afd_eja_fundamental_grupo_3,afd_eja_fundamental_grupo_4,afd_eja_fundamental_grupo_5,afd_eja_medio_grupo_1,afd_eja_medio_grupo_2,afd_eja_medio_grupo_3,afd_eja_medio_grupo_4,afd_eja_medio_grupo_5,ird_media_regularidade_docente,ied_ef_nivel_1,ied_ef_nivel_2,ied_ef_nivel_3,ied_ef_nivel_4,ied_ef_nivel_5,ied_ef_nivel_6,ied_ef_anos_iniciais_nivel_1,ied_ef_anos_iniciais_nivel_2,ied_ef_anos_iniciais_nivel_3,ied_ef_anos_iniciais_nivel_4,ied_ef_anos_iniciais_nivel_5,ied_ef_anos_iniciais_nivel_6,ied_ef_anos_finais_nivel_1,ied_ef_anos_finais_nivel_2,ied_ef_anos_finais_nivel_3,ied_ef_anos_finais_nivel_4,ied_ef_anos_finais_nivel_5,ied_ef_anos_finais_nivel_6,ied_em_nivel_1,ied_em_nivel_2,ied_em_nivel_3,ied_em_nivel_4,ied_em_nivel_5,ied_em_nivel_6,icg_nivel_complexidade_gestao_escola
0,2007,1100015,estadual,11022558,rural,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,2007,1100015,estadual,11037938,rural,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,2007,1100015,estadual,11037946,rural,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.9,88.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,2007,1100015,estadual,11037962,rural,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.5,76.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
4,2007,1100015,estadual,11038047,rural,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.6,84.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

(2637557, 208)

In [8]:
df = df.loc[df['ano'] == 2019]
df = df[['id_municipio', 'rede', 'localizacao', 'atu_em', 'had_em', 'tdi_em', 'taxa_aprovacao_em', 'taxa_reprovacao_em', 'taxa_abandono_em', 'dsu_em']]
display(df.head())
print(df.shape)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180831 entries, 2277011 to 2457841
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id_municipio        180831 non-null  int64
 1   rede                180831 non-null  object
 2   localizacao         180831 non-null  object
 3   atu_em              28836 non-null   float64
 4   had_em              28833 non-null   float64
 5   tdi_em              28595 non-null   float64
 6   taxa_aprovacao_em   28642 non-null   float64
 7   taxa_reprovacao_em  28642 non-null   float64
 8   taxa_abandono_em    28642 non-null   float64
 9   dsu_em              28836 non-null   float64
dtypes: float64(7), int64(1), object(2)
memory usage: 15.2+ MB

In [18]:
df.describe()

       id_municipio      atu_em      had_em      tdi_em  taxa_aprovacao_em  taxa_reprovacao_em  taxa_abandono_em      dsu_em
count  180831.00000 28836.00000 28833.00000 28595.00000        28642.00000         28642.00000       28642.00000 28836.00000
mean  3060908.16014    26.64877     5.19933    23.10155           88.95428             7.29805           3.74767    95.94948
std    972959.17425     9.21143     1.44163    18.82998           10.75644             7.69151           5.95250    10.35629
min   1100015.00000     1.00000     1.70000     0.00000            0.00000             0.00000           0.00000     0.00000
25%   2312601.00000    21.00000     4.30000     8.20000           83.10000             1.60000           0.00000    95.70000
50%   3124302.00000    27.70000     5.00000    18.70000           92.10000             4.90000           1.10000   100.00000
75%   3550308.00000    33.00000     5.30000    33.40000           97.40000            10.70000           5.40000   100.00000
max   5300108.00000   231.30000    16.50000   100.00000          100.00000            79.20000         100.00000   100.00000

In [13]:
df.mean()

id_municipio          3.060908e+06
atu_em                2.664877e+01
had_em                5.199327e+00
tdi_em                2.310155e+01
taxa_aprovacao_em     8.895428e+01
taxa_reprovacao_em    7.298048e+00
taxa_abandono_em      3.747671e+00
dsu_em                9.594948e+01
dtype: float64

In [14]:
df.std()

id_municipio          972959.174255
atu_em                     9.211435
had_em                     1.441634
tdi_em                    18.829977
taxa_aprovacao_em         10.756439
taxa_reprovacao_em         7.691510
taxa_abandono_em           5.952504
dsu_em                    10.356292
dtype: float64

In [16]:
df.count()

id_municipio          180831
rede                  180831
localizacao           180831
atu_em                 28836
had_em                 28833
tdi_em                 28595
taxa_aprovacao_em      28642
taxa_reprovacao_em     28642
taxa_abandono_em       28642
dsu_em                 28836
dtype: int64

In [15]:
df.corr()

                    id_municipio    atu_em    had_em    tdi_em  taxa_aprovacao_em  taxa_reprovacao_em  taxa_abandono_em    dsu_em
id_municipio            1.000000 -0.082024 -0.042252 -0.294972           0.043780            0.060906         -0.157813  0.084733
atu_em                 -0.082024  1.000000  0.123682 -0.045837          -0.075076            0.095867          0.011799  0.257331
had_em                 -0.042252  0.123682  1.000000 -0.250127           0.257260           -0.179826         -0.232505  0.071495
tdi_em                 -0.294972 -0.045837 -0.250127  1.000000          -0.639005            0.430840          0.602177 -0.153307
taxa_aprovacao_em       0.043780 -0.075076  0.257260 -0.639005           1.000000           -0.842636         -0.718235  0.010057
taxa_reprovacao_em      0.060906  0.095867 -0.179826  0.430840          -0.842636            1.000000          0.230533  0.032288
taxa_abandono_em       -0.157813  0.011799 -0.232505  0.602177          -0.718235            0.230533          1.000000 -0.059886
dsu_em                  0.084733  0.257331  0.071495 -0.153307           0.010057            0.032288         -0.059886  1.000000

In [ ]:
df.pivot_table(index=['localizacao', 'rede'], values=['atu_em', 'dsu_em', ''])

In [ ]:
# Buscar equivalentes p/ o Python
    # stargazer
    # lm (regressão linear)
    # Como incluir variáveis dummy em modelos de regressão


# Ao incluir variáveis na regressão, é necessário verificar se eles são linearmente dependentes, isto é, 
# se ao saber uma/algumas, você já tem outras de quebra

## 05/04/2022 - Rodando uma Regressão

- Aula com a Fabi
- Calcular regressão linear na unha

In [3]:
df = pd.read_excel('dados/CEOSAL1.xls')
df

     salary  pcsalary     sale   roe  pcroe  ros  indus  finance  conspod  utility   lsalary     lsales
0      1095        20  27595.0  14.1  106.4  191      1        0        0        0  6.998509  10.225390
1      1001        32   9958.0  10.9  -30.6   13      1        0        0        0  6.908755   9.206132
2      1122         9   6125.9  23.5  -16.3   14      1        0        0        0  7.022868   8.720281
3       578        -9  16246.0   5.9  -25.7  -21      1        0        0        0  6.359574   9.695602
4      1368         7  21783.2  13.8   -3.0   56      1        0        0        0  7.221105   9.988894
..      ...       ...      ...   ...    ...  ...    ...      ...      ...      ...       ...        ...
204     930        10   1509.1   9.0   20.5  131      0        0        0        1  6.835185   7.319269
205     525         3   1097.1  15.5   20.1   72      0        0        0        1  6.263398   7.000426
206     658        32   4542.6  12.1   -7.8   68      0        0        0        1  6.489205   8.421255
207     555         6   2023.0  13.7  -14.6   60      0        0        0        1  6.318968   7.612337
208     626         0   1442.5  14.4  -10.2   62      0        0        0        1  6.439351   7.274133

[209 rows x 12 columns]